@import "../../settings";

.about {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  .about-left {
    width: 33.33%;
    text-align: center;
  }

  img {
    box-shadow: 5px 5px 15px 0 rgba($color_default,0.2);
  }

  .icon-list {
    margin: 20px 0;
  }

  .accolades {
    @include font-light
    text-align: justify;
    font-size: 20px;
    text-transform: uppercase;
    color: $color_grey;
  }

  .about-right {
    width: 66.66%;
    padding: 0 0 0 30px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: $layout_sm_desktop_min) and (max-width: $layout_sm_desktop_max) {
  .about {
    width: 100%;
  }
}

@media screen and (min-width: $layout_tablet_min) and (max-width: $layout_tablet_max) {
  .about {
    width: 100%;

    .about-right {
      width: 55%;
    }

    .about-left {
      width: 45%;
    }

    .accolades {
      text-align: right;

      strong {
        display: block;
        overflow: hidden;
        width: 0px;
        height: 0px;
      }
    }
  }
}

@media screen and (min-width: $layout_smtablet_min) and (max-width: $layout_smtablet_max) {
  .about {
    width: 100%;

    .about-right,
    .about-left {
      float: none;
      width: 100%;
      padding: 0;
    }

    .about-left img {
      width: 80%;
      max-width: 400px;
      float: left;
    }

    .icon-list {
      width: 20%;
      float: right;
      text-align: center;
      margin: 0;
    }

    .accolades {
      width: 100%;
      clear: both;
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: $layout_phone_max) {
  .about {
    width: 100%;

    .about-right,
    .about-left {
      float: none;
      width: 100%;
      padding: 0;
    }

    .accolades {
      font-size: 14px;
    }
  }
}
