@import "../../settings";

.contact {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;

  h3 {
    font-size: 42px;
  }

  hr {
    max-width: 100px;
    margin: 0 auto 20px;
    border-top: 2px solid $color_blue;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .mail {
    @include font-regular;
    font-size: 24px;
  }

  .icon-list {
    margin: 50px 0;
  }
}

@media screen and (min-width: $layout_smtablet_min) and (max-width: $layout_smtablet_max) {
  .contact h3 {
    font-size: 36px;
  }
}

@media screen and (max-width: $layout_phone_max) {
  .contact {
    h3 {
      font-size: 24px;
    }

    .mail {
      font-size: 18px;
    }

    .icon-list {
      margin: 20px 0;
    }
  }
}
