@import "./settings";

.work {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.work-list {
  margin: 20px 0;
  position: relative;
}

.work-list-item {
  width: 30%;
  margin: 0 -4px 40px 5%;
  display: inline-block;
  padding: 0;
  border: 1px solid $color_grey;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;

  &:nth-child(3n + 1) {
    margin-left: 0;
  }

  &:hover {
    .work-overlay {
      opacity: 1;
    }

    .work-list-item-cnt {
      transform: translate(0, 20px);
    }

    img {
      transform: translate(5%, 5%) scale(1.2);
      transition: all 5s;
    }
  }

  img {
    display: block;
    width: 110%;
    transform-origin: 30% 30%;
    transform: translate(0, 0) scale(1);
    transition: all 1s;
  }

  &.view-work {
    z-index: 999;
    width: 100%;
    height: 100%;
    border-width: 0;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.work-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50%;
  background: rgba(24, 34, 50, 0.6);
  opacity: 0;
  transition: all 0.2s;
  text-align: center;
  z-index: 1;
}

.work-list-item-cnt {
  padding: 10px 10px 30px;
  background: $color_white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.2s cubic-bezier(0.15, 0.03, 0.62, 1.2);
  transform: translate(0, 200px);

  h4 {
    @include font-regular;
    font-size: 24px;
    margin: 0 0 5px;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .fa-plus {
    font-size: 24px;
    float: right;
    margin: 5px 0 0 0;
  }
}

.fa-info {
  font-size: 60px;
  width: 80px;
  height: 80px;
  line-height: 85px;
  color: $color_white;
  background: rgba(24, 34, 50, 0.6);
  border-radius: 100%;
  margin: -40px 10px 0;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}

.pop {
  max-height: 0;
  width: 100%;
  margin: 0 -10000px 0 -10000px;
  padding: 0 10000px;
  position: relative;
  overflow: hidden;
  background: $color_black;
  box-shadow: inset 0 0 30px 0 rgba($color_black, 0.5);
  transition: all 1s;

  &.pop-open {
    max-height: 10000px;
    margin-bottom: 40px;

    .pop-content{
      opacity: 1;
      transform: translate(0, 0);
      padding: 50px 0 30px;
    }

    .pop-close {
      opacity: 1;
    }
  }

  .pop-close {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
    font-size: 36px;
    line-height: 36px;
    opacity: 0;
    transition: all 1s ease 0.25s;

    .fa {
      transition: color 0.25s;
      color: $color_grey;

      &:hover {
        color: $color_blue;
      }
    }
  }

  .pop-content {
    opacity: 0;
    transform: translate(0, -20px);
    transition: all 1s;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
  }

  .work-content {
    color: $color_bg_grey;

    em {
      @include font-hairline;
      font-style: normal;
    }

    h5 {
      @include font-bold;
    }

    a {
      color: $color_bg_grey;
      text-decoration: none;
      transition: color 0.25s;

      &:after {
        display: none;
      }

      &:hover {
        color: $color_blue;
      }
    }
  }

  .work-content-left {
    width: 50%;
    float: left;
  }

  .work-content-right {
    padding-left: 54%;
  }
}

@media screen and (min-width: $layout_tablet_min) and (max-width: $layout_tablet_max) {
  .work {
    width: 100%;
  }
}

@media screen and (min-width: $layout_smtablet_min) and (max-width: $layout_smtablet_max) {
  .work {
    width: 100%;
  }

  .work-list-item {
    width: 48%;
    margin: 0 -4px 20px 4%;
    vertical-align: top;

    &:nth-child(3n+1) {
      margin-left: 4%;
    }

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:hover {
      img {
        transform: translate(0, 0) scale(1);
      }

      .work-list-item-cnt {
        transform: translate(0, 0);
      }
    }
  }

  .work-overlay {
    display: none;
  }

  .work-list-item-cnt {
    padding: 10px;
    position: static;
    transform: translate(0, 0);

    h4 {
      font-size: 18px;
    }

    h5 {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  .pop {
    .work-content-left {
      width: 100%;
      float: none;
    }

    .work-content-right {
      width: 100%;
      padding-left: 0;
      float: none;
    }
  }
}

@media screen and (max-width: $layout_phone_max) {
  .work {
    width: 100%;
  }

  .work-list-item {
    width: 100%;
    max-width: 360px;
    margin: 0 auto 20px;
    display: block;

    &:nth-child(3n+1) {
      margin-left: auto;
    }

    &:nth-child(2n+1) {
      margin-left: auto;
    }

    &:hover {
      img {
        transform: translate(0, 0) scale(1);
      }

      .work-list-item-cnt {
        transform: translate(0, 0);
      }
    }
  }

  .work-overlay {
    display: none;
  }

  .work-list-item-cnt {
    padding: 10px;
    position: static;
    transform: translate(0, 0);

    h4 {
      font-size: 18px;
    }

    h5 {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  .pop {
    .work-content-left {
      width: 100%;
      float: none;
    }

    .work-content-right {
      width: 100%;
      float: none;
      padding: 20px 0 0 0;
    }
  }
}
